trunk/xsd/Product.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="Products">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Product" type="product" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="product">
		<xs:sequence>
			<xs:element name="Process" type="xs:string"></xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
	</xs:complexType>
</xs:schema>